body{
    margin: 0px;
    padding: 0px;
}
.house{
    width: 100%;
    height: 100%;
    position: absolute;
}
.house1{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../images/bg3.jpg");
    background-size: 100% auto;
    background-position: center;
}
.log_con{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.35);
}
.form_header{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    font-family: Raleway;
    margin-bottom: 20px;
}
.log_header{
    color: white;
    text-align: center;
    font-size: 70px;
    font-weight: 500;
    font-family: Raleway;
    margin: 0px;
}
.log_label{
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: muli;
    margin-bottom: 10px;
}
.log_box{
    color: white;
    font-size: 14px;
    font-family: muli;
    border: none;
    border-bottom: 2px solid black;
    padding: 3px 8px;
    border-radius: 3px;
    background: none;
}
.log_btn{
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: muli;
    border: none;
    border-radius: 30px;
    padding: 8px 30px;
    background-color: #00b300;
}
/*dashbar*/
.dash_con{
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: #00b300;
}
.dash_img_con{
    width: 100%;
    height: auto;
    background-color: #006900;
}
.dash_img{
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 100%;
}
.dash_img_name{
    color: white;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    font-family: muli;
    margin: 0px 0px 10px;
}
.log{
    color: white;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    font-family: Raleway;
    border-radius: 3px;
    margin: 0px;
    padding: 5px 7px;
    background-color: darkred;
}
.log_role{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    font-family: Raleway;
    border-radius: 3px;
    margin: 0px;
}
.dash_link_con{
    width: 100%;
    height: auto;
}
.dash_link{
    color: white;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 400;
    font-family: muli;
    margin: 0px;
    padding: 8px 20px;
    transition: all 0.5s ease-in-out;
}
.dash_link_act{
    color: #007500;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    font-family: muli;
    margin: 0px;
    padding: 8px 20px;
    background-color: white;
    transition: all 0.5s ease-in-out;
}


/*display bar*/
.dis_con{
    height: auto;
    overflow: auto;
    right: 0;
    background-color: white;
}
.dis_head{
    background-color: #00b300;
}
.dis_header{
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    font-family: Raleway;
    margin: 0px;
}
.dis_bind{
    color: white;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    font-family: muli;
    margin: 0px;
}
.dis_bind_act{
    color: white;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 600;
    font-family: muli;
    margin: 0px;
}
.tab_link{
    color: #444444;
    font-size: 14px;
    font-weight: 500;
    font-family: muli;
    padding: 5px 10px;
}
.form_con{
    width: 100%;
    height: auto;
    padding: 50px 0px;
}
.dis_img_con{
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.dis_img{
    width: 90px;
    height: 90px;
}
.dis_img_name{
    color: #444444;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    font-family: Raleway;
    margin: 0px 0px 10px;
}
.dis_img_num{
    color: gray;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    font-family: muli;
    margin: 0px 0px 10px;
}


.post_con{
    width: 100%;
    height: auto;
    overflow: auto;
}
.msg_con{
    display: flex;
    justify-content: end;
}
.msg{
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    padding: 5px 10px;
    background-color: #00b300;
}
.msg_text{
    color: #004700;
    font-size: 15px;
    font-weight: 400;
    font-family: muli;
    margin: 0px;
}
.msg_icon{
    color: gray;
    font-size: 30px;
}
.msg_btn{
    color: white;
    font-size: 20px;
    border: none;
    background: none;
}
.post_form{
    width: 100%;
    height: auto;
}
.post_label{
    color: #444444;
    font-size: 15px;
    font-weight: 500;
    font-family: muli;
}
.post_head{
    color: #444444;
    font-size: 15px;
    font-weight: 500;
    font-family: muli;
    margin: 0px 0px 10px;
}
.post_col{
    color: #00b300;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    font-family: muli;
    margin: 0px 0px 10px;
}
.close_btn{
    color: #c4122f;
    font-size: 20px;
    border: none;
    background: none;
}
.edit_btn{
    color: #ff7615;
    font-size: 20px;
    border: none;
    background: none;
}
.post_text{
    color: gray;
    font-size: 14px;
    font-weight: 400;
    font-family: muli;
    margin: 0px 0px 10px;
}
.post_box{
    width: 100%;
    height: auto;
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    font-family: muli;
    border: 2px solid #daebfe;
    border-radius: 5px;
    padding: 5px 10px;
    background: none;
}
.post_img{
    width: auto;
    height: auto;
    border-radius: 3px;
    margin: 5px;
}
.del_link{
    position: absolute;
    top: 0;
    right: 0;
}
.del_btn{
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-family: muli;
    border: none;
    border-radius: 100%;
    padding: 4px 8px;
    background-color: #c4122f;
}
.post_sel{
    width: 100%;
    height: auto;
    color: #444444;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    font-family: muli;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 0px 10px;
    background: none;
}
.post_opt{
    width: 100%;
    height: auto;
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    font-family: muli;
    padding: 5px 10px;
    background: none;
}
.post_area{
    width: 100%;
    height: 150px;
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    font-family: muli;
    border: 2px solid #daebfe;
    border-radius: 5px;
    padding: 5px 10px;
    background: none;
}
.post_area2{
    width: 100%;
    height: 500px;
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    font-family: muli;
    border: 2px solid #daebfe;
    border-radius: 5px;
    padding: 5px 10px;
    background: none;
}
.post_btn1{
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    font-family: muli;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    background-color: #c4122f;
}
.post_btn2{
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    font-family: muli;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    background-color: #00b300;
}
.t_head{
    color: black;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    font-family: muli;
}
.t_data{
    color: black;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    font-family: muli;
}
.data_g{
    color: white;
    border: none;
    border-radius: 2px;
    padding: 5px;
    background-color: #00b300;
}
.data_r{
    color: white;
    border-radius: 2px;
    padding: 5px;
    background-color: #c4122f;
}
.data_w{
    color: white;
    border-radius: 2px;
    padding: 5px;
    background-color: #fd7e14;
}
.t_icon{
    color: gray;
    padding: 0px 5px;
    margin: 0px;
    border-right: 1px solid #dee2e6;

}
.error_msg{
    color: #c4122f;
    font-size: 12px;
    font-weight: 400;
    font-family: muli;
    margin: 0px;
}
.feedback{
    color: #c4122f;
    font-size: 12px;
    font-weight: 500;
    font-family: muli;
    margin: 0px;
}
.feedback2{
    color: #00b300;
    font-size: 12px;
    font-weight: 600;
    font-family: muli;
    margin: 0px;
}
.del_all_btn{
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: muli;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    background-color: #c4122f;
}
.pagi_con{

}
.pagi_link_active{
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: muli;
    margin: 0px 3px 0px;
    padding: 5px 8px;
    background-color: #00b300;
}
.pagi_link{
    color: #00b300;
    font-size: 14px;
    font-weight: 500;
    font-family: muli;
    margin: 0px 3px 0px;
    padding: 5px 8px;
    background-color: whitesmoke;
}
































/*hover effects*/
.dash_link:hover{
    padding-left: 30px;
    background-color: #007500;
}
.dash_link_act:hover{
    padding-left: 30px;
}
.t_icon:hover{
    color: gray;
    text-decoration: none;
}
